.jumbotron {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: darkcyan;
}
.container-fluid {
    border: 1px solid darkcyan;
    background-color:whitesmoke;
}
.title {
    background-color:darkcyan;
    color: whitesmoke;
}
#section2 {
    margin-top: 20px
}
.trains-view {
    border-bottom: 1px solid gray;
    margin:10px
}
.columnTitle {
    font-weight: bold;
}
h5 {
    margin-left: 5px
}
#form {
    padding-bottom:15px
}
#jumboTitle {
    text-align: center;
    opacity:0.8;

}
.btn:hover {
    background-color: teal;
    color: whitesmoke
}
body {
    background-image: url(../images/purty_wood.png);
}
#map {
    height: 100%;
  }